# ignore everything by default
**/**

# but not these files...
!.gitignore
!LICENCE
!README.md

# ...and these ...
!starship.toml
!fish
!fish/**
!nvim
!nvim/**
!tmux
!tmux/**
!wezterm
!wezterm/**
!karabiner
!karabiner/assets
!karabiner/assets/complex_modifications
!karabiner/assets/complex_modifications/**

**/.DS_Store
!**/**/.gitkeep
!**/**/.gitignore
